.title {
  color: #02ccba;
}

.SNS {
color: red;
padding-top: 100px;
background-color: green;
background-image: :"https://github.com/tatsukiosawa/tatsukiosawa/blob/master/IMG-2357.jpg";

}

.background {

background-image: "https://github.com/tatsukiosawa/tatsukiosawa/blob/master/IMG-2357.jpg"

  background-color: red;}
