.title {
  color: #02ccba;
}

.SNS {
color: red;
padding-top: 100px;


}

.SNS {

background-image: url("https://user-images.githubusercontent.com/47561627/52785585-aa7e9f80-309b-11e9-9768-c1b2a1283cbd.jpg");
background-color: red;
}
